Download and Process Auction Files - Supabase Storage.json
{
  "name": "Download and Process Auction Files - Supabase Storage",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        5552,
        1520
      ],
      "id": "0b6f3979-e37b-47be-b697-672a05ad0385",
      "name": "Daily Schedule (6 AM)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT delete_expired_auctions() as deleted_count;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5728,
        1536
      ],
      "id": "95d58d03-a378-43df-b7a3-d294c4bfc4f3",
      "name": "Delete Expired Auctions",
      "credentials": {
        "postgres": {
          "id": "DxQODs2W8TambApf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://inventory.auctions.godaddy.com/all_listings_ending_tomorrow.json.zip",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5904,
        1232
      ],
      "id": "699b10e5-c2a2-405e-b812-3de439ba71ba",
      "name": "Download GoDaddy Tomorrow"
    },
    {
      "parameters": {
        "url": "https://inventory.auctions.godaddy.com/all_listings_ending_today.json.zip",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5904,
        1440
      ],
      "id": "15dd01e4-50e3-42be-a214-8500e58ebffa",
      "name": "Download GoDaddy Today"
    },
    {
      "parameters": {
        "url": "https://d3ry1h4w5036x1.cloudfront.net/reports/Namecheap_Market_Sales.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5904,
        1632
      ],
      "id": "86289437-5aa4-4ab5-8b56-23b9da83fab1",
      "name": "Download Namecheap Auctions"
    },
    {
      "parameters": {
        "url": "https://d3ry1h4w5036x1.cloudfront.net/reports/Namecheap_Market_Sales_Buy_Now.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5904,
        1840
      ],
      "id": "cd2e3b92-3512-491b-8ad7-5ccfbd7ad03d",
      "name": "Download Namecheap Buy Now"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        6128,
        1232
      ],
      "id": "e207a345-fa35-49e8-a39c-82104257fee3",
      "name": "Decompress Tomorrow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        6128,
        1440
      ],
      "id": "9f929269-1b68-4a2d-b534-e7974cb50af3",
      "name": "Decompress Today"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\nreturn [{\n  json: {\n    source: 'godaddy_tomorrow',\n    filename: 'godaddy_tomorrow.json',\n    auction_site: 'godaddy',\n    offering_type: 'auction',\n    bucket: 'listingfiles',\n    path: 'godaddy_tomorrow.json'\n  },\n  binary: input.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6352,
        1232
      ],
      "id": "c5ef38c2-2f5c-4189-9e94-0d63937e7d37",
      "name": "Prepare GoDaddy Tomorrow"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\nreturn [{\n  json: {\n    source: 'godaddy_today',\n    filename: 'godaddy_today.json',\n    auction_site: 'godaddy',\n    offering_type: 'auction',\n    bucket: 'listingfiles',\n    path: 'godaddy_today.json'\n  },\n  binary: input.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6352,
        1440
      ],
      "id": "bf5537e0-678a-4c29-aebe-cfdefc2cced8",
      "name": "Prepare GoDaddy Today"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\nreturn [{\n  json: {\n    source: 'namecheap_auctions',\n    filename: 'Namecheap_Market_Sales.csv',\n    auction_site: 'namecheap',\n    offering_type: 'auction',\n    bucket: 'listingfiles',\n    path: 'Namecheap_Market_Sales.csv'\n  },\n  binary: input.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6352,
        1632
      ],
      "id": "85124f76-6d7d-4c78-8767-a155507ba778",
      "name": "Prepare Namecheap Auctions"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\nreturn [{\n  json: {\n    source: 'namecheap_buynow',\n    filename: 'Namecheap_Market_Sales_Buy_Now.csv',\n    auction_site: 'namecheap',\n    offering_type: 'buy_now',\n    bucket: 'listingfiles',\n    path: 'Namecheap_Market_Sales_Buy_Now.csv'\n  },\n  binary: input.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6352,
        1840
      ],
      "id": "c1402f57-91cf-413a-8f11-30fe95975143",
      "name": "Prepare Namecheap Buy Now"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sbdomain.aichieve.net/storage/v1/object/{{ $json.bucket }}/{{ $json.path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $binary.file_0.mimeType || 'text/csv' }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "file_0",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6592,
        1232
      ],
      "id": "fe95d6da-6f08-4eac-af4f-47e2cf4fd059",
      "name": "Upload GoDaddy Tomorrow to Storage",
      "credentials": {
        "supabaseApi": {
          "id": "1ePgHuyBQzWnTd4s",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sbdomain.aichieve.net/storage/v1/object/{{ $json.bucket }}/{{ $json.path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $binary.file_0.mimeType || 'text/csv' }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "file_0",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6592,
        1440
      ],
      "id": "7fbb5f05-fdaf-4ef5-86a3-c1b66526f682",
      "name": "Upload GoDaddy Today to Storage",
      "credentials": {
        "supabaseApi": {
          "id": "1ePgHuyBQzWnTd4s",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sbdomain.aichieve.net/storage/v1/object/{{ $json.bucket }}/{{ $json.path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType || 'text/csv' }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6592,
        1632
      ],
      "id": "195e966b-0946-44e5-a8cc-b410e46bd263",
      "name": "Upload Namecheap Auctions to Storage",
      "credentials": {
        "supabaseApi": {
          "id": "1ePgHuyBQzWnTd4s",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sbdomain.aichieve.net/storage/v1/object/{{ $json.bucket }}/{{ $json.path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType || 'text/csv' }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6592,
        1840
      ],
      "id": "6002f81b-0fea-4a21-b5db-f34b9046876c",
      "name": "Upload Namecheap Buy Now to Storage",
      "credentials": {
        "supabaseApi": {
          "id": "1ePgHuyBQzWnTd4s",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://overmild-untenuously-penney.ngrok-free.dev/api/v1/auctions/process-from-storage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"bucket\": \"{{ $json.bucket }}\",\n  \"path\": \"{{ $json.path }}\",\n  \"auction_site\": \"{{ $json.auction_site }}\",\n  \"offering_type\": \"{{ $json.offering_type }}\",\n  \"filename\": \"{{ $json.filename }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6832,
        1232
      ],
      "id": "de15aa08-d164-43bb-9d81-d88f5bf5b2f0",
      "name": "Trigger Backend Processing Tomorrow"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for GoDaddy Tomorrow\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'godaddy_tomorrow.json',\n    filename: 'godaddy_tomorrow.json',\n    auction_site: 'godaddy',\n    offering_type: 'auction',\n    source: 'godaddy_tomorrow',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6720,
        1232
      ],
      "id": "85205d44-656f-4745-ac13-327e741c723b",
      "name": "Restore Tomorrow Metadata"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://overmild-untenuously-penney.ngrok-free.dev/api/v1/auctions/process-from-storage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"bucket\": \"{{ $json.bucket }}\",\n  \"path\": \"{{ $json.path }}\",\n  \"auction_site\": \"{{ $json.auction_site }}\",\n  \"offering_type\": \"{{ $json.offering_type }}\",\n  \"filename\": \"{{ $json.filename }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6832,
        1440
      ],
      "id": "1dd61a24-186f-42fe-b1b1-cc96a3e4d44e",
      "name": "Trigger Backend Processing Today"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for GoDaddy Today\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'godaddy_today.json',\n    filename: 'godaddy_today.json',\n    auction_site: 'godaddy',\n    offering_type: 'auction',\n    source: 'godaddy_today',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6720,
        1440
      ],
      "id": "6d2e6805-805f-42cd-a253-d14d20ba943c",
      "name": "Restore Today Metadata"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://overmild-untenuously-penney.ngrok-free.dev/api/v1/auctions/process-from-storage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"bucket\": \"{{ $json.bucket }}\",\n  \"path\": \"{{ $json.path }}\",\n  \"auction_site\": \"{{ $json.auction_site }}\",\n  \"offering_type\": \"{{ $json.offering_type }}\",\n  \"filename\": \"{{ $json.filename }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6832,
        1632
      ],
      "id": "9ac4f20d-ad6c-4f8d-87cd-892311fab7b6",
      "name": "Trigger Backend Processing Auctions"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for Namecheap Auctions\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'Namecheap_Market_Sales.csv',\n    filename: 'Namecheap_Market_Sales.csv',\n    auction_site: 'namecheap',\n    offering_type: 'auction',\n    source: 'namecheap_auctions',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6720,
        1632
      ],
      "id": "74d009e0-8643-4f96-8dbb-3f173f9295e9",
      "name": "Restore Auctions Metadata"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://overmild-untenuously-penney.ngrok-free.dev/api/v1/auctions/process-from-storage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"bucket\": \"{{ $json.bucket }}\",\n  \"path\": \"{{ $json.path }}\",\n  \"auction_site\": \"{{ $json.auction_site }}\",\n  \"offering_type\": \"{{ $json.offering_type }}\",\n  \"filename\": \"{{ $json.filename }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6832,
        1840
      ],
      "id": "44b70e83-0adc-4700-9b7f-2e6930219a87",
      "name": "Trigger Backend Processing Buy Now"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for Namecheap Buy Now\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'Namecheap_Market_Sales_Buy_Now.csv',\n    filename: 'Namecheap_Market_Sales_Buy_Now.csv',\n    auction_site: 'namecheap',\n    offering_type: 'buy_now',\n    source: 'namecheap_buynow',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6720,
        1840
      ],
      "id": "dde33789-ce7b-4de2-8bbf-a12d58883171",
      "name": "Restore Buy Now Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results from all processing\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const json = item.json || {};\n  results.push({\n    source: json.source || 'unknown',\n    success: json.success !== false,\n    job_id: json.job_id || null,\n    message: json.message || 'No message',\n    filename: json.filename || 'unknown',\n    auction_site: json.auction_site || 'unknown',\n    error: json.error || null\n  });\n}\n\nconst successCount = results.filter(r => r.success).length;\nconst totalCount = results.length;\n\nreturn [{\n  json: {\n    summary: {\n      total_files: totalCount,\n      successful: successCount,\n      failed: totalCount - successCount\n    },\n    results: results,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7072,
        1536
      ],
      "id": "c84a474f-ce59-4f23-b627-4e5e55171f51",
      "name": "Aggregate Results"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://overmild-untenuously-penney.ngrok-free.dev/api/v1/auctions/process-from-storage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"bucket\": \"{{ $json.bucket }}\",\n  \"path\": \"{{ $json.path }}\",\n  \"auction_site\": \"{{ $json.auction_site }}\",\n  \"offering_type\": \"{{ $json.offering_type }}\",\n  \"filename\": \"{{ $json.filename }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6832,
        2080
      ],
      "id": "4dc83357-edd2-4e3c-9d56-ee46a3afbd0d",
      "name": "Trigger Backend Processing NameSilo"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for NameSilo\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'namesilo_export.csv',\n    filename: 'namesilo_export.csv',\n    auction_site: 'namesilo',\n    offering_type: 'auction',\n    source: 'namesilo_export',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6720,
        2080
      ],
      "id": "4553efaa-3b19-44a4-8a96-451002f6e231",
      "name": "Restore NameSilo Metadata"
    },
    {
      "parameters": {
        "url": "https://www.namesilo.com/auctions/api/search?keyword=&keywordLocation=anywhere&type=all&domainAge=any&reserve=any&digits=any&addedOn=all&format=csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5904,
        2080
      ],
      "id": "46df5104-77e5-4a12-b641-53a6a8e7f0ef",
      "name": "Download NameSilo"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\nreturn [{\n  json: {\n    source: 'namesilo_export',\n    filename: 'namesilo_export.csv',\n    auction_site: 'namesilo',\n    offering_type: 'auction',\n    bucket: 'listingfiles',\n    path: 'namesilo_export.csv'\n  },\n  binary: input.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6352,
        2080
      ],
      "id": "1aaf4c5b-4d00-41f6-97cb-034518f5b188",
      "name": "Prepare NameSilo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sbdomain.aichieve.net/storage/v1/object/{{ $json.bucket }}/{{ $json.path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType || 'text/csv' }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6592,
        2080
      ],
      "id": "c42007fc-b236-49b4-9fb0-e8fa3012a478",
      "name": "Upload NameSilo",
      "credentials": {
        "supabaseApi": {
          "id": "1ePgHuyBQzWnTd4s",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule (6 AM)": {
      "main": [
        [
          {
            "node": "Delete Expired Auctions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Expired Auctions": {
      "main": [
        [
          {
            "node": "Download GoDaddy Tomorrow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download GoDaddy Today",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Namecheap Auctions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Namecheap Buy Now",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download NameSilo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download GoDaddy Tomorrow": {
      "main": [
        [
          {
            "node": "Decompress Tomorrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download GoDaddy Today": {
      "main": [
        [
          {
            "node": "Decompress Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress Tomorrow": {
      "main": [
        [
          {
            "node": "Prepare GoDaddy Tomorrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress Today": {
      "main": [
        [
          {
            "node": "Prepare GoDaddy Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Namecheap Auctions": {
      "main": [
        [
          {
            "node": "Prepare Namecheap Auctions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Namecheap Buy Now": {
      "main": [
        [
          {
            "node": "Prepare Namecheap Buy Now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GoDaddy Tomorrow": {
      "main": [
        [
          {
            "node": "Upload GoDaddy Tomorrow to Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GoDaddy Today": {
      "main": [
        [
          {
            "node": "Upload GoDaddy Today to Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Namecheap Auctions": {
      "main": [
        [
          {
            "node": "Upload Namecheap Auctions to Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Namecheap Buy Now": {
      "main": [
        [
          {
            "node": "Upload Namecheap Buy Now to Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload GoDaddy Tomorrow to Storage": {
      "main": [
        [
          {
            "node": "Restore Tomorrow Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Tomorrow Metadata": {
      "main": [
        [
          {
            "node": "Trigger Backend Processing Tomorrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload GoDaddy Today to Storage": {
      "main": [
        [
          {
            "node": "Restore Today Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Today Metadata": {
      "main": [
        [
          {
            "node": "Trigger Backend Processing Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Namecheap Auctions to Storage": {
      "main": [
        [
          {
            "node": "Restore Auctions Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Auctions Metadata": {
      "main": [
        [
          {
            "node": "Trigger Backend Processing Auctions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Namecheap Buy Now to Storage": {
      "main": [
        [
          {
            "node": "Restore Buy Now Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Buy Now Metadata": {
      "main": [
        [
          {
            "node": "Trigger Backend Processing Buy Now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Backend Processing Tomorrow": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Backend Processing Today": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Backend Processing Auctions": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Backend Processing Buy Now": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore NameSilo Metadata": {
      "main": [
        [
          {
            "node": "Trigger Backend Processing NameSilo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download NameSilo": {
      "main": [
        [
          {
            "node": "Prepare NameSilo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare NameSilo": {
      "main": [
        [
          {
            "node": "Upload NameSilo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload NameSilo": {
      "main": [
        [
          {
            "node": "Restore NameSilo Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c84228c-9916-4b45-8cae-d65b7ab50fb3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ed9ed81fad64d2f2e539654b7152113b5201cf79b5e9548649591c372302289"
  },
  "id": "hM8ssCvxLrMb1tsa",
  "tags": []
}