n8n/Download and Process Auction Files - Supabase Storage.json
{
  "name": "Download and Process Auction Files - Supabase Storage",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        10512,
        1760
      ],
      "id": "f511892d-6c75-4bbd-93c7-80106cd0eee4",
      "name": "Daily Schedule (6 AM)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT delete_expired_auctions() as deleted_count;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        10688,
        1776
      ],
      "id": "5707000a-9383-4468-84b3-84330f51741f",
      "name": "Delete Expired Auctions",
      "credentials": {
        "postgres": {
          "id": "DxQODs2W8TambApf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://inventory.auctions.godaddy.com/all_listings_ending_tomorrow.json.zip",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10864,
        1472
      ],
      "id": "f235b6eb-5a28-4f03-a08d-11b5299d963e",
      "name": "Download GoDaddy Tomorrow"
    },
    {
      "parameters": {
        "url": "https://inventory.auctions.godaddy.com/all_listings_ending_today.json.zip",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10864,
        1680
      ],
      "id": "137feba7-4fec-474e-a4ea-30d8408dae59",
      "name": "Download GoDaddy Today"
    },
    {
      "parameters": {
        "url": "https://d3ry1h4w5036x1.cloudfront.net/reports/Namecheap_Market_Sales.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10864,
        1872
      ],
      "id": "1347f6c9-3403-4a1a-bcbe-b109dadf0764",
      "name": "Download Namecheap Auctions"
    },
    {
      "parameters": {
        "url": "https://d3ry1h4w5036x1.cloudfront.net/reports/Namecheap_Market_Sales_Buy_Now.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10864,
        2080
      ],
      "id": "efc78e3e-cd41-40bf-8535-30c45771a167",
      "name": "Download Namecheap Buy Now"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        11088,
        1472
      ],
      "id": "664feda6-ff9e-4250-a574-ea1fe1ca308b",
      "name": "Decompress Tomorrow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        11088,
        1680
      ],
      "id": "8b1746b1-a986-4970-a1ce-5a3020757509",
      "name": "Decompress Today"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\nreturn [{\n  json: {\n    source: 'godaddy_tomorrow',\n    filename: 'godaddy_tomorrow.json',\n    auction_site: 'godaddy',\n    offering_type: 'auction',\n    bucket: 'listingfiles',\n    path: 'godaddy_tomorrow.json'\n  },\n  binary: input.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11312,
        1472
      ],
      "id": "0b1b3f70-534f-4f2d-8f0a-9236c8585fd8",
      "name": "Prepare GoDaddy Tomorrow"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\nreturn [{\n  json: {\n    source: 'godaddy_today',\n    filename: 'godaddy_today.json',\n    auction_site: 'godaddy',\n    offering_type: 'auction',\n    bucket: 'listingfiles',\n    path: 'godaddy_today.json'\n  },\n  binary: input.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11312,
        1680
      ],
      "id": "923e3ed2-9692-4d3c-a6a6-bf6359ab633d",
      "name": "Prepare GoDaddy Today"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\nreturn [{\n  json: {\n    source: 'namecheap_auctions',\n    filename: 'Namecheap_Market_Sales.csv',\n    auction_site: 'namecheap',\n    offering_type: 'auction',\n    bucket: 'listingfiles',\n    path: 'Namecheap_Market_Sales.csv'\n  },\n  binary: input.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11312,
        1872
      ],
      "id": "f1a8c9bf-3b29-45b7-8d8a-29735285390d",
      "name": "Prepare Namecheap Auctions"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\nreturn [{\n  json: {\n    source: 'namecheap_buynow',\n    filename: 'Namecheap_Market_Sales_Buy_Now.csv',\n    auction_site: 'namecheap',\n    offering_type: 'buy_now',\n    bucket: 'listingfiles',\n    path: 'Namecheap_Market_Sales_Buy_Now.csv'\n  },\n  binary: input.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11312,
        2080
      ],
      "id": "83712571-b2ef-474b-a066-0a05dacb618c",
      "name": "Prepare Namecheap Buy Now"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.61.72.70:8010/api/v1/auctions/upload-csv",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "auction_site",
              "value": "godaddy"
            },
            {
              "name": "offering_type",
              "value": "auction"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file_0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        11552,
        1472
      ],
      "id": "e60e760a-6459-4718-b0f8-7266d47e4fce",
      "name": "Upload GoDaddy Tomorrow to Backend"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.61.72.70:8010/api/v1/auctions/upload-csv",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "auction_site",
              "value": "godaddy"
            },
            {
              "name": "offering_type",
              "value": "auction"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file_0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        11552,
        1680
      ],
      "id": "e557ed4c-ef83-4d06-b037-7d84782aa341",
      "name": "Upload GoDaddy Today to Backend"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.61.72.70:8010/api/v1/auctions/upload-csv",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "auction_site",
              "value": "namecheap"
            },
            {
              "name": "offering_type",
              "value": "auction"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        11552,
        1872
      ],
      "id": "20edb0cd-c0bb-4f90-9a9a-7d9d9caf2bfe",
      "name": "Upload Namecheap Auctions to Backend"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.61.72.70:8010/api/v1/auctions/upload-csv",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "auction_site",
              "value": "namecheap"
            },
            {
              "name": "offering_type",
              "value": "buy_now"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        11552,
        2080
      ],
      "id": "4f8e26cc-4f78-4dba-b9c5-6feb0d09a579",
      "name": "Upload Namecheap Buy Now to Backend"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for GoDaddy Tomorrow\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'godaddy_tomorrow.json',\n    filename: 'godaddy_tomorrow.json',\n    auction_site: 'godaddy',\n    offering_type: 'auction',\n    source: 'godaddy_tomorrow',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11680,
        1472
      ],
      "id": "3cec3c88-346f-45b8-b21a-394c3260d7b7",
      "name": "Restore Tomorrow Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for GoDaddy Today\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'godaddy_today.json',\n    filename: 'godaddy_today.json',\n    auction_site: 'godaddy',\n    offering_type: 'auction',\n    source: 'godaddy_today',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11680,
        1680
      ],
      "id": "6bbab4e5-888d-4b46-a10c-5363c31eca5b",
      "name": "Restore Today Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for Namecheap Auctions\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'Namecheap_Market_Sales.csv',\n    filename: 'Namecheap_Market_Sales.csv',\n    auction_site: 'namecheap',\n    offering_type: 'auction',\n    source: 'namecheap_auctions',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11680,
        1872
      ],
      "id": "470acd9a-e5a1-4946-836e-9a7b3f4ce6f7",
      "name": "Restore Auctions Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for Namecheap Buy Now\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'Namecheap_Market_Sales_Buy_Now.csv',\n    filename: 'Namecheap_Market_Sales_Buy_Now.csv',\n    auction_site: 'namecheap',\n    offering_type: 'buy_now',\n    source: 'namecheap_buynow',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11680,
        2080
      ],
      "id": "cc7ed6c6-3381-45b0-839d-d93adc49006e",
      "name": "Restore Buy Now Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results from all processing\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const json = item.json || {};\n  results.push({\n    source: json.source || 'unknown',\n    success: json.success !== false,\n    job_id: json.job_id || null,\n    message: json.message || 'No message',\n    filename: json.filename || 'unknown',\n    auction_site: json.auction_site || 'unknown',\n    error: json.error || null\n  });\n}\n\nconst successCount = results.filter(r => r.success).length;\nconst totalCount = results.length;\n\nreturn [{\n  json: {\n    summary: {\n      total_files: totalCount,\n      successful: successCount,\n      failed: totalCount - successCount\n    },\n    results: results,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12032,
        1776
      ],
      "id": "71c02d20-ed91-4f90-a51d-897146e2caa9",
      "name": "Aggregate Results"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for NameSilo\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'namesilo_export.csv',\n    filename: 'namesilo_export.csv',\n    auction_site: 'namesilo',\n    offering_type: 'auction',\n    source: 'namesilo_export',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11680,
        2320
      ],
      "id": "05c9099d-e63e-4d5b-a0b2-1f0effcbabec",
      "name": "Restore NameSilo Metadata"
    },
    {
      "parameters": {
        "url": "https://www.namesilo.com/auctions/api/search?keyword=&keywordLocation=anywhere&type=all&domainAge=any&reserve=any&digits=any&addedOn=all&format=csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        10864,
        2320
      ],
      "id": "20617cd6-ea72-44d6-8295-e41d2e5886f9",
      "name": "Download NameSilo"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\nreturn [{\n  json: {\n    source: 'namesilo_export',\n    filename: 'namesilo_export.csv',\n    auction_site: 'namesilo',\n    offering_type: 'auction',\n    bucket: 'listingfiles',\n    path: 'namesilo_export.csv'\n  },\n  binary: input.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11312,
        2320
      ],
      "id": "dc674d63-a17d-4f29-b801-3b9b5ef6bd14",
      "name": "Prepare NameSilo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.61.72.70:8010/api/v1/auctions/upload-csv",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "auction_site",
              "value": "namesilo"
            },
            {
              "name": "offering_type",
              "value": "auction"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        11552,
        2320
      ],
      "id": "111a907e-484d-459a-8a5d-332f01c84a3f",
      "name": "Upload NameSilo to Backend"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule (6 AM)": {
      "main": [
        [
          {
            "node": "Delete Expired Auctions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Expired Auctions": {
      "main": [
        [
          {
            "node": "Download GoDaddy Tomorrow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download GoDaddy Today",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Namecheap Auctions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Namecheap Buy Now",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download NameSilo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download GoDaddy Tomorrow": {
      "main": [
        [
          {
            "node": "Decompress Tomorrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download GoDaddy Today": {
      "main": [
        [
          {
            "node": "Decompress Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress Tomorrow": {
      "main": [
        [
          {
            "node": "Prepare GoDaddy Tomorrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress Today": {
      "main": [
        [
          {
            "node": "Prepare GoDaddy Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Namecheap Auctions": {
      "main": [
        [
          {
            "node": "Prepare Namecheap Auctions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Namecheap Buy Now": {
      "main": [
        [
          {
            "node": "Prepare Namecheap Buy Now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GoDaddy Tomorrow": {
      "main": [
        [
          {
            "node": "Upload GoDaddy Tomorrow to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GoDaddy Today": {
      "main": [
        [
          {
            "node": "Upload GoDaddy Today to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Namecheap Auctions": {
      "main": [
        [
          {
            "node": "Upload Namecheap Auctions to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Namecheap Buy Now": {
      "main": [
        [
          {
            "node": "Upload Namecheap Buy Now to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload GoDaddy Tomorrow to Backend": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Tomorrow Metadata": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload GoDaddy Today to Backend": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Today Metadata": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Namecheap Auctions to Backend": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Auctions Metadata": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Namecheap Buy Now to Backend": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Buy Now Metadata": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore NameSilo Metadata": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download NameSilo": {
      "main": [
        [
          {
            "node": "Prepare NameSilo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare NameSilo": {
      "main": [
        [
          {
            "node": "Upload NameSilo to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload NameSilo to Backend": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "deb9e286-a399-4a76-b7f1-9b4963d89f82",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ed9ed81fad64d2f2e539654b7152113b5201cf79b5e9548649591c372302289"
  },
  "id": "hM8ssCvxLrMb1tsa",
  "tags": []
}