n8n/Download and Process Auction Files - Supabase Storage.json
{
  "name": "Download and Process Auction Files - Supabase Storage",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        6640,
        1488
      ],
      "id": "c53fcf23-5668-4c92-b0b0-218426f86e9b",
      "name": "Daily Schedule (6 AM)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT delete_expired_auctions() as deleted_count;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6816,
        1504
      ],
      "id": "801118c1-fc03-4635-bc6e-a3242017f1ae",
      "name": "Delete Expired Auctions",
      "credentials": {
        "postgres": {
          "id": "DxQODs2W8TambApf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://inventory.auctions.godaddy.com/all_listings_ending_tomorrow.json.zip",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6992,
        1200
      ],
      "id": "9f1ae9b9-532f-4165-80f9-3aa950db5fe1",
      "name": "Download GoDaddy Tomorrow"
    },
    {
      "parameters": {
        "url": "https://inventory.auctions.godaddy.com/all_listings_ending_today.json.zip",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6992,
        1408
      ],
      "id": "2db0009e-9827-4138-851d-930797abcb43",
      "name": "Download GoDaddy Today"
    },
    {
      "parameters": {
        "url": "https://d3ry1h4w5036x1.cloudfront.net/reports/Namecheap_Market_Sales.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6992,
        1600
      ],
      "id": "37dceaea-ea66-4cf1-b71f-a21a9ca922ef",
      "name": "Download Namecheap Auctions"
    },
    {
      "parameters": {
        "url": "https://d3ry1h4w5036x1.cloudfront.net/reports/Namecheap_Market_Sales_Buy_Now.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6992,
        1808
      ],
      "id": "2a435b46-7708-492e-8b91-423b0324dd93",
      "name": "Download Namecheap Buy Now"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        7216,
        1200
      ],
      "id": "1aeeb750-7efc-4011-8f9b-63c557dfcef1",
      "name": "Decompress Tomorrow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        7216,
        1408
      ],
      "id": "f1fe695c-c2b7-4b7a-9d2b-b52756541e6d",
      "name": "Decompress Today"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\nreturn [{\n  json: {\n    source: 'godaddy_tomorrow',\n    filename: 'godaddy_tomorrow.json',\n    auction_site: 'godaddy',\n    offering_type: 'auction',\n    bucket: 'listingfiles',\n    path: 'godaddy_tomorrow.json'\n  },\n  binary: input.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7440,
        1200
      ],
      "id": "8bc45eb9-81e9-4b40-9c56-b3977dbec651",
      "name": "Prepare GoDaddy Tomorrow"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\nreturn [{\n  json: {\n    source: 'godaddy_today',\n    filename: 'godaddy_today.json',\n    auction_site: 'godaddy',\n    offering_type: 'auction',\n    bucket: 'listingfiles',\n    path: 'godaddy_today.json'\n  },\n  binary: input.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7440,
        1408
      ],
      "id": "0d330c84-b321-418e-b41b-c96fc5f3e27b",
      "name": "Prepare GoDaddy Today"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\nreturn [{\n  json: {\n    source: 'namecheap_auctions',\n    filename: 'Namecheap_Market_Sales.csv',\n    auction_site: 'namecheap',\n    offering_type: 'auction',\n    bucket: 'listingfiles',\n    path: 'Namecheap_Market_Sales.csv'\n  },\n  binary: input.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7440,
        1600
      ],
      "id": "d744e582-fdf8-4db1-bf34-967cea1c61b0",
      "name": "Prepare Namecheap Auctions"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\nreturn [{\n  json: {\n    source: 'namecheap_buynow',\n    filename: 'Namecheap_Market_Sales_Buy_Now.csv',\n    auction_site: 'namecheap',\n    offering_type: 'buy_now',\n    bucket: 'listingfiles',\n    path: 'Namecheap_Market_Sales_Buy_Now.csv'\n  },\n  binary: input.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7440,
        1808
      ],
      "id": "f074b521-ae9e-42a0-be91-084e45986977",
      "name": "Prepare Namecheap Buy Now"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_VPS_IP:8010/api/v1/auctions/upload-csv",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "file_0"
            },
            {
              "name": "auction_site",
              "value": "godaddy"
            },
            {
              "name": "offering_type",
              "value": "auction"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7680,
        1200
      ],
      "id": "8945b7bc-a13d-4f86-a1f2-75928c232655",
      "name": "Upload GoDaddy Tomorrow to Backend"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_VPS_IP:8010/api/v1/auctions/upload-csv",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "file_0"
            },
            {
              "name": "auction_site",
              "value": "godaddy"
            },
            {
              "name": "offering_type",
              "value": "auction"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7680,
        1408
      ],
      "id": "10ead4cb-a935-4a60-a863-66e61cb30a92",
      "name": "Upload GoDaddy Today to Backend"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_VPS_IP:8010/api/v1/auctions/upload-csv",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "auction_site",
              "value": "namecheap"
            },
            {
              "name": "offering_type",
              "value": "auction"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7680,
        1600
      ],
      "id": "dce1400e-a98d-4f58-90b6-e722fc3ff3d3",
      "name": "Upload Namecheap Auctions to Backend"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_VPS_IP:8010/api/v1/auctions/upload-csv",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "auction_site",
              "value": "namecheap"
            },
            {
              "name": "offering_type",
              "value": "buy_now"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7680,
        1808
      ],
      "id": "f4915b67-3934-4f45-9874-e0dbc01bd237",
      "name": "Upload Namecheap Buy Now to Backend"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for GoDaddy Tomorrow\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'godaddy_tomorrow.json',\n    filename: 'godaddy_tomorrow.json',\n    auction_site: 'godaddy',\n    offering_type: 'auction',\n    source: 'godaddy_tomorrow',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7808,
        1200
      ],
      "id": "16af7265-ce97-4264-a0f3-6e732d80d0db",
      "name": "Restore Tomorrow Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for GoDaddy Today\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'godaddy_today.json',\n    filename: 'godaddy_today.json',\n    auction_site: 'godaddy',\n    offering_type: 'auction',\n    source: 'godaddy_today',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7808,
        1408
      ],
      "id": "7a7e9774-2586-49e0-bd4e-8a9773ae4722",
      "name": "Restore Today Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for Namecheap Auctions\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'Namecheap_Market_Sales.csv',\n    filename: 'Namecheap_Market_Sales.csv',\n    auction_site: 'namecheap',\n    offering_type: 'auction',\n    source: 'namecheap_auctions',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7808,
        1600
      ],
      "id": "b5bedccd-ed9e-4d59-8d93-604499397f40",
      "name": "Restore Auctions Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for Namecheap Buy Now\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'Namecheap_Market_Sales_Buy_Now.csv',\n    filename: 'Namecheap_Market_Sales_Buy_Now.csv',\n    auction_site: 'namecheap',\n    offering_type: 'buy_now',\n    source: 'namecheap_buynow',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7808,
        1808
      ],
      "id": "44d7e7df-b022-483f-b38d-c7f21e4c8f34",
      "name": "Restore Buy Now Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results from all processing\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const json = item.json || {};\n  results.push({\n    source: json.source || 'unknown',\n    success: json.success !== false,\n    job_id: json.job_id || null,\n    message: json.message || 'No message',\n    filename: json.filename || 'unknown',\n    auction_site: json.auction_site || 'unknown',\n    error: json.error || null\n  });\n}\n\nconst successCount = results.filter(r => r.success).length;\nconst totalCount = results.length;\n\nreturn [{\n  json: {\n    summary: {\n      total_files: totalCount,\n      successful: successCount,\n      failed: totalCount - successCount\n    },\n    results: results,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8160,
        1504
      ],
      "id": "6b836d92-3bd3-45d0-b934-e8e702d0a15d",
      "name": "Aggregate Results"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for NameSilo\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'namesilo_export.csv',\n    filename: 'namesilo_export.csv',\n    auction_site: 'namesilo',\n    offering_type: 'auction',\n    source: 'namesilo_export',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7808,
        2048
      ],
      "id": "0c23cffd-2ca4-4bd0-ae50-359600e3bc5c",
      "name": "Restore NameSilo Metadata"
    },
    {
      "parameters": {
        "url": "https://www.namesilo.com/auctions/api/search?keyword=&keywordLocation=anywhere&type=all&domainAge=any&reserve=any&digits=any&addedOn=all&format=csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6992,
        2048
      ],
      "id": "4a2dfc0f-a320-4356-b9c8-82732f6a1295",
      "name": "Download NameSilo"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\nreturn [{\n  json: {\n    source: 'namesilo_export',\n    filename: 'namesilo_export.csv',\n    auction_site: 'namesilo',\n    offering_type: 'auction',\n    bucket: 'listingfiles',\n    path: 'namesilo_export.csv'\n  },\n  binary: input.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7440,
        2048
      ],
      "id": "9b4e5250-76c0-4c55-bb6c-2786ebc0e2ca",
      "name": "Prepare NameSilo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_VPS_IP:8010/api/v1/auctions/upload-csv",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            },
            {
              "name": "auction_site",
              "value": "namesilo"
            },
            {
              "name": "offering_type",
              "value": "auction"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7680,
        2048
      ],
      "id": "0f011cba-ef81-4a56-8dec-ea9e976d965e",
      "name": "Upload NameSilo to Backend"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule (6 AM)": {
      "main": [
        [
          {
            "node": "Delete Expired Auctions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Expired Auctions": {
      "main": [
        [
          {
            "node": "Download GoDaddy Tomorrow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download GoDaddy Today",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Namecheap Auctions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Namecheap Buy Now",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download NameSilo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download GoDaddy Tomorrow": {
      "main": [
        [
          {
            "node": "Decompress Tomorrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download GoDaddy Today": {
      "main": [
        [
          {
            "node": "Decompress Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress Tomorrow": {
      "main": [
        [
          {
            "node": "Prepare GoDaddy Tomorrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress Today": {
      "main": [
        [
          {
            "node": "Prepare GoDaddy Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Namecheap Auctions": {
      "main": [
        [
          {
            "node": "Prepare Namecheap Auctions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Namecheap Buy Now": {
      "main": [
        [
          {
            "node": "Prepare Namecheap Buy Now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GoDaddy Tomorrow": {
      "main": [
        [
          {
            "node": "Upload GoDaddy Tomorrow to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GoDaddy Today": {
      "main": [
        [
          {
            "node": "Upload GoDaddy Today to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Namecheap Auctions": {
      "main": [
        [
          {
            "node": "Upload Namecheap Auctions to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Namecheap Buy Now": {
      "main": [
        [
          {
            "node": "Upload Namecheap Buy Now to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload GoDaddy Tomorrow to Backend": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Tomorrow Metadata": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload GoDaddy Today to Backend": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Today Metadata": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Namecheap Auctions to Backend": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Auctions Metadata": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Namecheap Buy Now to Backend": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Buy Now Metadata": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore NameSilo Metadata": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download NameSilo": {
      "main": [
        [
          {
            "node": "Prepare NameSilo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare NameSilo": {
      "main": [
        [
          {
            "node": "Upload NameSilo to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload NameSilo to Backend": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "556c6df5-a97a-45b8-a872-941c78387bf8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ed9ed81fad64d2f2e539654b7152113b5201cf79b5e9548649591c372302289"
  },
  "id": "hM8ssCvxLrMb1tsa",
  "tags": []
}