n8n/Download and Process Auction Files - Supabase Storage.json
{
  "name": "Download and Process Auction Files - Supabase Storage",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        13024,
        3616
      ],
      "id": "beff53aa-c98e-461f-bd8f-158da1f581b6",
      "name": "Daily Schedule (6 AM)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT delete_expired_auctions() as deleted_count;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        13200,
        3632
      ],
      "id": "0d492818-550e-4e57-bc3d-7403ca486dd1",
      "name": "Delete Expired Auctions",
      "credentials": {
        "postgres": {
          "id": "DxQODs2W8TambApf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://inventory.auctions.godaddy.com/all_listings_ending_tomorrow.json.zip",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        13376,
        3328
      ],
      "id": "d5bd468f-859e-4104-8f11-d4d9fbbae6ce",
      "name": "Download GoDaddy Tomorrow"
    },
    {
      "parameters": {
        "url": "https://inventory.auctions.godaddy.com/all_listings_ending_today.json.zip",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        13376,
        3536
      ],
      "id": "5c53fee5-b5d2-4bd7-a474-c4b5a7c23790",
      "name": "Download GoDaddy Today"
    },
    {
      "parameters": {
        "url": "https://d3ry1h4w5036x1.cloudfront.net/reports/Namecheap_Market_Sales.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        13376,
        3728
      ],
      "id": "edac4120-4703-46c1-87a4-eee557ec2218",
      "name": "Download Namecheap Auctions"
    },
    {
      "parameters": {
        "url": "https://d3ry1h4w5036x1.cloudfront.net/reports/Namecheap_Market_Sales_Buy_Now.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        13376,
        3936
      ],
      "id": "c8898734-f418-40e7-8f1c-4f0db7f7f44b",
      "name": "Download Namecheap Buy Now"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        13600,
        3328
      ],
      "id": "3620b817-7339-4e6e-a522-aa3074935ef9",
      "name": "Decompress Tomorrow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        13600,
        3536
      ],
      "id": "ac8f9235-921a-4b1e-8fcf-1cf19aa65347",
      "name": "Decompress Today"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\n// Robustly find binary data\nlet binaryData = null;\nif (input.binary) {\n    // Try common keys or take the first one found\n    binaryData = input.binary.data || input.binary.file || input.binary.file_0;\n    if (!binaryData && Object.keys(input.binary).length > 0) {\n        binaryData = input.binary[Object.keys(input.binary)[0]];\n    }\n}\n\nreturn [{\n  json: {\n\n    source: 'godaddy_tomorrow',\n    filename: 'godaddy_tomorrow.json',\n    auction_site: 'godaddy',\n    offering_type: 'auction',\n    bucket: 'listingfiles',\n    path: 'godaddy_tomorrow.json'\n  \n  },\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13824,
        3328
      ],
      "id": "edcb9e2b-c77a-4167-9522-4dd6366483b4",
      "name": "Prepare GoDaddy Tomorrow"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\n// Robustly find binary data\nlet binaryData = null;\nif (input.binary) {\n    // Try common keys or take the first one found\n    binaryData = input.binary.data || input.binary.file || input.binary.file_0;\n    if (!binaryData && Object.keys(input.binary).length > 0) {\n        binaryData = input.binary[Object.keys(input.binary)[0]];\n    }\n}\n\nreturn [{\n  json: {\n\n    source: 'godaddy_today',\n    filename: 'godaddy_today.json',\n    auction_site: 'godaddy',\n    offering_type: 'auction',\n    bucket: 'listingfiles',\n    path: 'godaddy_today.json'\n  \n  },\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13824,
        3536
      ],
      "id": "e688c39d-7940-4d58-aa7d-a5cb8d00a565",
      "name": "Prepare GoDaddy Today"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\n// Robustly find binary data\nlet binaryData = null;\nif (input.binary) {\n    // Try common keys or take the first one found\n    binaryData = input.binary.data || input.binary.file || input.binary.file_0;\n    if (!binaryData && Object.keys(input.binary).length > 0) {\n        binaryData = input.binary[Object.keys(input.binary)[0]];\n    }\n}\n\nreturn [{\n  json: {\n\n    source: 'namecheap_auctions',\n    filename: 'Namecheap_Market_Sales.csv',\n    auction_site: 'namecheap',\n    offering_type: 'auction',\n    bucket: 'listingfiles',\n    path: 'Namecheap_Market_Sales.csv'\n  \n  },\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13824,
        3728
      ],
      "id": "77d6d5fd-e873-4189-a2ef-f413735503f5",
      "name": "Prepare Namecheap Auctions"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\n// Robustly find binary data\nlet binaryData = null;\nif (input.binary) {\n    // Try common keys or take the first one found\n    binaryData = input.binary.data || input.binary.file || input.binary.file_0;\n    if (!binaryData && Object.keys(input.binary).length > 0) {\n        binaryData = input.binary[Object.keys(input.binary)[0]];\n    }\n}\n\nreturn [{\n  json: {\n\n    source: 'namecheap_buynow',\n    filename: 'Namecheap_Market_Sales_Buy_Now.csv',\n    auction_site: 'namecheap',\n    offering_type: 'buy_now',\n    bucket: 'listingfiles',\n    path: 'Namecheap_Market_Sales_Buy_Now.csv'\n  \n  },\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13824,
        3936
      ],
      "id": "b390bfdd-1879-407a-962c-7674fbe6d32d",
      "name": "Prepare Namecheap Buy Now"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for GoDaddy Tomorrow\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'godaddy_tomorrow.json',\n    filename: 'godaddy_tomorrow.json',\n    auction_site: 'godaddy',\n    offering_type: 'auction',\n    source: 'godaddy_tomorrow',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14192,
        3328
      ],
      "id": "786f1120-663d-4653-93cc-8b337e65a0dc",
      "name": "Restore Tomorrow Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for GoDaddy Today\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'godaddy_today.json',\n    filename: 'godaddy_today.json',\n    auction_site: 'godaddy',\n    offering_type: 'auction',\n    source: 'godaddy_today',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14192,
        3536
      ],
      "id": "db4a56d5-6c0d-4090-9b6f-e740fd726840",
      "name": "Restore Today Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for Namecheap Auctions\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'Namecheap_Market_Sales.csv',\n    filename: 'Namecheap_Market_Sales.csv',\n    auction_site: 'namecheap',\n    offering_type: 'auction',\n    source: 'namecheap_auctions',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14192,
        3728
      ],
      "id": "07a924b4-f983-4d62-b0ec-3e89b17910ad",
      "name": "Restore Auctions Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for Namecheap Buy Now\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'Namecheap_Market_Sales_Buy_Now.csv',\n    filename: 'Namecheap_Market_Sales_Buy_Now.csv',\n    auction_site: 'namecheap',\n    offering_type: 'buy_now',\n    source: 'namecheap_buynow',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14192,
        3936
      ],
      "id": "c4c9dce4-c12a-4a55-a344-908be154f184",
      "name": "Restore Buy Now Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Aggregate results from all processing\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const json = item.json || {};\n  results.push({\n    source: json.source || 'unknown',\n    success: json.success !== false,\n    job_id: json.job_id || null,\n    message: json.message || 'No message',\n    filename: json.filename || 'unknown',\n    auction_site: json.auction_site || 'unknown',\n    error: json.error || null\n  });\n}\n\nconst successCount = results.filter(r => r.success).length;\nconst totalCount = results.length;\n\nreturn [{\n  json: {\n    summary: {\n      total_files: totalCount,\n      successful: successCount,\n      failed: totalCount - successCount\n    },\n    results: results,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14544,
        3632
      ],
      "id": "c2a7ab71-7add-43cc-a191-fed4b7c76921",
      "name": "Aggregate Results"
    },
    {
      "parameters": {
        "jsCode": "// Restore metadata after upload for NameSilo\nconst input = $input.first();\nreturn [{\n  json: {\n    bucket: 'listingfiles',\n    path: 'namesilo_export.csv',\n    filename: 'namesilo_export.csv',\n    auction_site: 'namesilo',\n    offering_type: 'auction',\n    source: 'namesilo_export',\n    upload_success: input.json ? true : false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14192,
        4176
      ],
      "id": "93fdbd6a-395e-4f49-bb23-0263ee2d16cd",
      "name": "Restore NameSilo Metadata"
    },
    {
      "parameters": {
        "url": "https://www.namesilo.com/auctions/api/search?keyword=&keywordLocation=anywhere&type=all&domainAge=any&reserve=any&digits=any&addedOn=all&format=csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        13376,
        4176
      ],
      "id": "dd24183d-1707-4ce1-8e34-5a14465e1887",
      "name": "Download NameSilo"
    },
    {
      "parameters": {
        "jsCode": "// Prepare metadata for Supabase upload\n// Using fixed filenames to overwrite old files\nconst input = $input.first();\n\n// Robustly find binary data\nlet binaryData = null;\nif (input.binary) {\n    // Try common keys or take the first one found\n    binaryData = input.binary.data || input.binary.file || input.binary.file_0;\n    if (!binaryData && Object.keys(input.binary).length > 0) {\n        binaryData = input.binary[Object.keys(input.binary)[0]];\n    }\n}\n\nreturn [{\n  json: {\n\n    source: 'namesilo_export',\n    filename: 'namesilo_export.csv',\n    auction_site: 'namesilo',\n    offering_type: 'auction',\n    bucket: 'listingfiles',\n    path: 'namesilo_export.csv'\n  \n  },\n  binary: {\n    data: binaryData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13824,
        4176
      ],
      "id": "caf24d8d-f0b6-446d-9048-afc4909984f5",
      "name": "Prepare NameSilo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sbdomain.giniloh.com/storage/v1/object/auction-csvs/{{ $binary.data.fileName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2NDYzNjk2MCwiZXhwIjo0OTIwMzEwNTYwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.hMqiDDJIp9xxZtHJtyfvxs6utizP9F-mHqonRw0EFVc"
            },
            {
              "name": "x-upsert",
              "value": "true"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Upload GoDaddy Tomorrow to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14000,
        3328
      ],
      "id": "cb93450a-862b-4d3b-8a07-98e823046605"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.61.72.70:8010/api/v1/auctions/process-existing-upload",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "storage_path",
              "value": "={{ $json.Key.split('/')[1] }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.Key.split('/')[1] }}"
            },
            {
              "name": "bucket",
              "value": "auction-csvs"
            },
            {
              "name": "auction_site",
              "value": "={{ $('Prepare GoDaddy Tomorrow').first().json.auction_site }}"
            },
            {
              "name": "offering_type",
              "value": "={{ $('Prepare GoDaddy Tomorrow').first().json.offering_type }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Trigger GoDaddy Tomorrow Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14320,
        3328
      ],
      "id": "eae505ef-0931-498b-a450-09bd98f1fba4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sbdomain.giniloh.com/storage/v1/object/auction-csvs/{{ $binary.data.fileName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2NDYzNjk2MCwiZXhwIjo0OTIwMzEwNTYwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.hMqiDDJIp9xxZtHJtyfvxs6utizP9F-mHqonRw0EFVc"
            },
            {
              "name": "x-upsert",
              "value": "true"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Upload GoDaddy Today to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14064,
        3536
      ],
      "id": "38cb24b2-8bcb-4d06-92af-a8bd47a94012"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.61.72.70:8010/api/v1/auctions/process-existing-upload",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "storage_path",
              "value": "={{ $json.Key.split('/')[1] }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.Key.split('/')[1] }}"
            },
            {
              "name": "bucket",
              "value": "auction-csvs"
            },
            {
              "name": "auction_site",
              "value": "={{ $('Prepare GoDaddy Today').first().json.auction_site }}"
            },
            {
              "name": "offering_type",
              "value": "={{ $('Prepare GoDaddy Today').first().json.offering_type }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Trigger GoDaddy Today Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14320,
        3536
      ],
      "id": "66c8f225-0bf6-431d-94c2-d279047eef97"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sbdomain.giniloh.com/storage/v1/object/auction-csvs/{{ $binary.data.fileName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2NDYzNjk2MCwiZXhwIjo0OTIwMzEwNTYwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.hMqiDDJIp9xxZtHJtyfvxs6utizP9F-mHqonRw0EFVc"
            },
            {
              "name": "x-upsert",
              "value": "true"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Upload Namecheap Auctions to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14064,
        3728
      ],
      "id": "806c8372-de91-49c8-9c83-d2e0495cc8f0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.61.72.70:8010/api/v1/auctions/process-existing-upload",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "storage_path",
              "value": "={{ $json.Key.split('/')[1] }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.Key.split('/')[1] }}"
            },
            {
              "name": "bucket",
              "value": "auction-csvs"
            },
            {
              "name": "auction_site",
              "value": "={{ $('Prepare Namecheap Auctions').first().json.auction_site }}"
            },
            {
              "name": "offering_type",
              "value": "={{ $('Prepare Namecheap Auctions').first().json.offering_type }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Trigger Namecheap Auctions Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14320,
        3728
      ],
      "id": "f47567d9-a3d5-44a4-a5b3-26d3f0076be3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sbdomain.giniloh.com/storage/v1/object/auction-csvs/{{ $binary.data.fileName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2NDYzNjk2MCwiZXhwIjo0OTIwMzEwNTYwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.hMqiDDJIp9xxZtHJtyfvxs6utizP9F-mHqonRw0EFVc"
            },
            {
              "name": "x-upsert",
              "value": "true"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Upload Namecheap Buy Now to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14064,
        3936
      ],
      "id": "82122808-334d-420b-a808-b6112ff26da7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.61.72.70:8010/api/v1/auctions/process-existing-upload",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "storage_path",
              "value": "={{ $json.Key.split('/')[1] }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.Key.split('/')[1] }}"
            },
            {
              "name": "bucket",
              "value": "auction-csvs"
            },
            {
              "name": "auction_site",
              "value": "={{ $('Prepare Namecheap Buy Now').first().json.auction_site }}"
            },
            {
              "name": "offering_type",
              "value": "={{ $('Prepare Namecheap Buy Now').first().json.offering_type }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Trigger Namecheap Buy Now Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14320,
        3936
      ],
      "id": "12306e7c-fd01-4fc5-9e19-138324e1162f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sbdomain.giniloh.com/storage/v1/object/auction-csvs/{{ $binary.data.fileName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2NDYzNjk2MCwiZXhwIjo0OTIwMzEwNTYwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.hMqiDDJIp9xxZtHJtyfvxs6utizP9F-mHqonRw0EFVc"
            },
            {
              "name": "x-upsert",
              "value": "true"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "Upload NameSilo to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14064,
        4176
      ],
      "id": "324155e2-8ed0-4eae-8344-350a52874962"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://72.61.72.70:8010/api/v1/auctions/process-existing-upload",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "storage_path",
              "value": "={{ $json.Key.split('/')[1] }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.Key.split('/')[1] }}"
            },
            {
              "name": "bucket",
              "value": "auction-csvs"
            },
            {
              "name": "auction_site",
              "value": "={{ $('Prepare NameSilo').first().json.auction_site }}"
            },
            {
              "name": "offering_type",
              "value": "={{ $('Prepare NameSilo').first().json.offering_type }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Trigger NameSilo Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14320,
        4176
      ],
      "id": "f8c1a26c-ac87-4bf9-8397-839442782ad3"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Schedule (6 AM)": {
      "main": [
        [
          {
            "node": "Delete Expired Auctions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Expired Auctions": {
      "main": [
        [
          {
            "node": "Download GoDaddy Tomorrow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download GoDaddy Today",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Namecheap Auctions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download Namecheap Buy Now",
            "type": "main",
            "index": 0
          },
          {
            "node": "Download NameSilo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download GoDaddy Tomorrow": {
      "main": [
        [
          {
            "node": "Decompress Tomorrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download GoDaddy Today": {
      "main": [
        [
          {
            "node": "Decompress Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress Tomorrow": {
      "main": [
        [
          {
            "node": "Prepare GoDaddy Tomorrow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress Today": {
      "main": [
        [
          {
            "node": "Prepare GoDaddy Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Namecheap Auctions": {
      "main": [
        [
          {
            "node": "Prepare Namecheap Auctions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Namecheap Buy Now": {
      "main": [
        [
          {
            "node": "Prepare Namecheap Buy Now",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GoDaddy Tomorrow": {
      "main": [
        [
          {
            "node": "Upload GoDaddy Tomorrow to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GoDaddy Today": {
      "main": [
        [
          {
            "node": "Upload GoDaddy Today to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Namecheap Auctions": {
      "main": [
        [
          {
            "node": "Upload Namecheap Auctions to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Namecheap Buy Now": {
      "main": [
        [
          {
            "node": "Upload Namecheap Buy Now to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Tomorrow Metadata": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Today Metadata": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Auctions Metadata": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Buy Now Metadata": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore NameSilo Metadata": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download NameSilo": {
      "main": [
        [
          {
            "node": "Prepare NameSilo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare NameSilo": {
      "main": [
        [
          {
            "node": "Upload NameSilo to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload GoDaddy Tomorrow to Supabase": {
      "main": [
        [
          {
            "node": "Trigger GoDaddy Tomorrow Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger GoDaddy Tomorrow Processing": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload GoDaddy Today to Supabase": {
      "main": [
        [
          {
            "node": "Trigger GoDaddy Today Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger GoDaddy Today Processing": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Namecheap Auctions to Supabase": {
      "main": [
        [
          {
            "node": "Trigger Namecheap Auctions Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Namecheap Auctions Processing": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Namecheap Buy Now to Supabase": {
      "main": [
        [
          {
            "node": "Trigger Namecheap Buy Now Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Namecheap Buy Now Processing": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload NameSilo to Supabase": {
      "main": [
        [
          {
            "node": "Trigger NameSilo Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger NameSilo Processing": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cda75c18-6f68-43b0-b0e2-77256cefdf40",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ed9ed81fad64d2f2e539654b7152113b5201cf79b5e9548649591c372302289"
  },
  "id": "hM8ssCvxLrMb1tsa",
  "tags": []
}