n8n/Download and Process Auction Files - RELIABLE - API Version-2.json
{
  "name": "Download and Process Auction Files - RELIABLE - API Version",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://sbdomain.giniloh.com/rest/v1/rpc/delete_expired_auctions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2NDYzNjk2MCwiZXhwIjo0OTIwMzEwNTYwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.hMqiDDJIp9xxZtHJtyfvxs6utizP9F-mHqonRw0EFVc"
            },
            {
              "name": "apikey",
              "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2NDYzNjk2MCwiZXhwIjo0OTIwMzEwNTYwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.hMqiDDJIp9xxZtHJtyfvxs6utizP9F-mHqonRw0EFVc"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "939be8a8-c79d-4241-ad60-a282c30c2f1d",
      "name": "Delete Expired Auctions (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        13280,
        2432
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      url: 'https://inventory.auctions.godaddy.com/all_listings_ending_tomorrow.json.zip',\n      filename: 'godaddy_tomorrow.json',\n      is_compressed: true,\n      auction_site: 'godaddy'\n    }\n  },\n  {\n    json: {\n      url: 'https://inventory.auctions.godaddy.com/all_listings_ending_today.json.zip',\n      filename: 'godaddy_today.json',\n      is_compressed: true,\n      auction_site: 'godaddy'\n    }\n  },\n  {\n    json: {\n      url: 'https://d3ry1h4w5036x1.cloudfront.net/reports/Namecheap_Market_Sales.csv',\n      filename: 'Namecheap_Market_Sales.csv',\n      is_compressed: false,\n      auction_site: 'namecheap'\n    }\n  },\n  {\n    json: {\n      url: 'https://d3ry1h4w5036x1.cloudfront.net/reports/Namecheap_Market_Sales_Buy_Now.csv',\n      filename: 'Namecheap_Market_Sales_Buy_Now.csv',\n      is_compressed: false,\n      auction_site: 'namecheap',\n      offering_type: 'buy_now'\n    }\n  },\n  {\n    json: {\n      url: 'https://www.namesilo.com/auctions/api/search?keyword=&keywordLocation=anywhere&type=all&domainAge=any&reserve=any&digits=any&addedOn=all&format=csv',\n      filename: 'namesilo_export.csv',\n      is_compressed: false,\n      auction_site: 'namesilo'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        13472,
        2432
      ],
      "id": "a302edcf-63f3-4a99-8253-76fe5adf4ef0",
      "name": "Define Files"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        13696,
        2432
      ],
      "id": "f06cf616-9ee7-4119-9986-90c3f6e7a465",
      "name": "Process One By One"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        13888,
        2432
      ],
      "id": "8b613eaa-3b20-4643-97b3-3fe2e28bc60a",
      "name": "Download File"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_compressed }}",
              "value2": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        14096,
        2432
      ],
      "id": "ab344ef6-a067-4014-90e5-5813fd185561",
      "name": "Check Compression"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        14288,
        2304
      ],
      "id": "c860108c-2a9d-494b-b38b-33a9fba00258",
      "name": "Decompress"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n    let filename = item.json.filename;\n    if (!filename) {\n        try {\n          filename = $('Process One By One').first().json.filename;\n          item.json.filename = filename;\n        } catch (e) { }\n    }\n    if (item.binary) {\n        const keys = Object.keys(item.binary);\n        if (keys.length > 0) {\n            if (!item.binary.data) {\n                item.binary.data = item.binary[keys[0]];\n            }\n            if (filename) {\n                item.binary.data.fileName = filename;\n                const ext = filename.split('.').pop();\n                if (ext) item.binary.data.fileExtension = ext;\n            }\n            if (!item.binary.data.mimeType || item.binary.data.mimeType === 'application/json') {\n                 if (filename && filename.endsWith('.csv')) {\n                     item.binary.data.mimeType = 'text/csv';\n                 } else if (filename && filename.endsWith('.json')) {\n                     item.binary.data.mimeType = 'application/json';\n                 } else {\n                     item.binary.data.mimeType = 'application/octet-stream';\n                 }\n            }\n        }\n    }\n    return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14496,
        2432
      ],
      "id": "c27c9b78-3699-4499-a171-5a2f39f433f1",
      "name": "Standardize Binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://sbdomain.giniloh.com/storage/v1/object/auction-csvs/' + $('Process One By One').first().json.filename }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2NDYzNjk2MCwiZXhwIjo0OTIwMzEwNTYwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.hMqiDDJIp9xxZtHJtyfvxs6utizP9F-mHqonRw0EFVc"
            },
            {
              "name": "x-upsert",
              "value": "true"
            },
            {
              "name": "Content-Type",
              "value": "={{ $binary.data.mimeType }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14688,
        2432
      ],
      "id": "cce1c08c-3f2c-403a-bbb7-53b4f55c2e84",
      "name": "Upload to Supabase"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://scout.buildomain.com/api/v1/auctions/process-existing-upload",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "storage_path",
              "value": "={{ $('Process One By One').first().json.filename }}"
            },
            {
              "name": "filename",
              "value": "={{ $('Process One By One').first().json.filename }}"
            },
            {
              "name": "auction_site",
              "value": "={{ $('Process One By One').first().json.auction_site }}"
            },
            {
              "name": "offering_type",
              "value": "={{ $('Process One By One').first().json.offering_type || 'auction' }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        14896,
        2432
      ],
      "id": "9667e235-b590-4f50-87d1-e0801b428a2d",
      "name": "Trigger Backend",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        15088,
        2432
      ],
      "id": "9e2a50ee-a408-41c2-9954-09ca3da489bf",
      "name": "Wait 5 Minutes",
      "webhookId": "2cf6de16-ec05-4b38-9ec9-c0d018a90b5f"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "50 16 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        13072,
        2432
      ],
      "id": "c262ebb9-6248-4d79-ad35-f75170624a2e",
      "name": "Daily Schedule (18:45 PM)"
    }
  ],
  "pinData": {},
  "connections": {
    "Delete Expired Auctions (API)": {
      "main": [
        [
          {
            "node": "Define Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Files": {
      "main": [
        [
          {
            "node": "Process One By One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One By One": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Check Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Compression": {
      "main": [
        [
          {
            "node": "Decompress",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Standardize Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress": {
      "main": [
        [
          {
            "node": "Standardize Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize Binary": {
      "main": [
        [
          {
            "node": "Upload to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Supabase": {
      "main": [
        [
          {
            "node": "Trigger Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Backend": {
      "main": [
        [
          {
            "node": "Wait 5 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Minutes": {
      "main": [
        [
          {
            "node": "Process One By One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Schedule (18:45 PM)": {
      "main": [
        [
          {
            "node": "Delete Expired Auctions (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "66d731f4-d359-4f53-b0a4-c8b5ca64c1dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8ed9ed81fad64d2f2e539654b7152113b5201cf79b5e9548649591c372302289"
  },
  "id": "hM8ssCvxLrMb1tsa",
  "tags": []
}